<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MagicMod Extension Gallery</title>
    <meta name="theme-color" content="#FF269A">
    <meta name="description" content="The official place to find powerful extensions for MagicMod.">
    <style>
      :root {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color-scheme: light dark;
      }
      @media (prefers-color-scheme: dark) {
        :root {
          color: #eee;
          background: #111;
        }
        a {
          color: #56b2ff;
        }
        a:visited {
          color: #f192ff;
        }
        a:active {
          color: red;
        }
        .invert-dark {
          filter: invert(100%);
        }
      }

      h1 {
        margin: 16px 0;
      }
      h2, h3, p {
        margin: 8px 0;
      }

      .section {
        max-width: 928px;
        margin: 24px auto;
      }

      .header h1 {
        font-size: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        text-align: center;
      }
      .header svg {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        margin: 0 8px 0 0;
      }
      @media (max-width: 750px) {
        .header h1 {
          flex-direction: column;
        }
        .header svg {
          margin: 0 0 8px 0;
        }
      }

      .infobox, .development-tools {
        padding: 8px;
        margin: 8px 0;
        border-radius: 8px;
        background: rgba(0, 195, 255, 0.245);
        border: 1px solid rgba(0, 187, 255, 0.604);
      }
      .infobox-warning {
        background-color: rgba(255, 0, 0, 0.245);
        border-color: rgba(255, 0, 0, 0.446);
      }
      .infobox-title {
        font-weight: bold;
        margin-bottom: 4px;
      }

      .development-tools {
        background-color: rgba(200, 0, 255, 0.245);
        border-color: rgba(234, 0, 255, 0.604);
      }
      .development-tools h2 {
        font-size: 1em;
      }

      .extensions {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 16px -4px;
      }
      @media (max-width: 944px) {
        .extensions {
          grid-template-columns: 1fr 1fr;
        }
      }
      @media (max-width: 650px) {
        .extensions {
          grid-template-columns: 1fr;
        }
      }

      .extension {
        position: relative;
        border: 2px solid #ccc;
        border-radius: 8px;
        margin: 4px;
        overflow: hidden;
        padding: 8px;
      }
      @media (prefers-color-scheme: dark) {
        .extension {
          border-color: #333;
        }
      }
      .extension h3 {
        font-size: 1.5em;
      }
      .extension > :last-child {
        margin-bottom: 0;
      }
      .extension-banner {
        position: relative;
        margin: -8px -8px 0 -8px;
      }
      .extension-image {
        display: block;
        width: 100%;
        /* TODO: see if there's another way to do this that works in older browsers too */
        aspect-ratio: 2 / 1;
      }

      .extension-buttons {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 0.5rem;
        opacity: 0;
        transition: opacity .15s;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
      }
      .extension:hover .extension-buttons, .extension:focus-within .extension-buttons {
        opacity: 1;
        backdrop-filter: blur(0.6px);
      }
      .extension-buttons > * {
        background-color: #4c97ff;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        font: inherit;
        cursor: pointer;
        color: white;
        text-decoration: none;
        text-shadow: 0 0 4px #0003;
        pointer-events: auto;
        transition: filter 0.15s;
        filter: drop-shadow(0px 1px 3px #00000075);
      }
      .extension-buttons > *:hover {
        filter: drop-shadow(0px 1px 7px black);
        z-index: 1;
      }
      .extension-buttons *:active {
        filter: brightness(0.85) drop-shadow(0px 1px 2px #00000075);
      }
      .extension-buttons *:disabled {
        opacity: 0.5;
      }
      .extension-buttons .open {
        background-color: #ff5726;
        color: white;
      }
      .extension-buttons .docs {
        background-color: #f69925;
        color: white;
      }
      .extension-buttons .sample {
        background-color: #3ebb48;
        color: white;
      }
      .extension-buttons :disabled {
        opacity: 0.5;
      }

      .sample-list {
        display: none;
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
        width: calc(100% - 1rem);
        margin-top: -1.5rem;
        padding: 0.5rem;
        box-sizing: border-box;
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .3);
        border: 1px solid rgba(0, 0, 0, 0.15);
        flex-direction: column;
        gap: 0.5rem;
      }
      .sample-list h3 {
        font-size: 1rem;
        margin: 0;
      }
      .extension:hover[data-samples-open="true"] .sample-list {
        display: flex;
      }
      @media (prefers-color-scheme: dark) {
        .sample-list {
          border: 1px solid rgba(255, 255, 255, 0.15);
          background-color: #333;
        }
      }

      footer {
        opacity: 0.8;
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
      }
      footer p {
        margin: 0 0 8px 0;
      }

      .search-container {
        display: flex;
        justify-content: space-evenly;
      }

      .column {
        display: flex;
        flex-direction: column;
      }

      .search-base {
        display: flex;
        padding: 8px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: transparent;
        background-clip: padding-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-top: 2px solid #ff5726;
        border-bottom: 2px solid #ff5726;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: box-shadow .15s ease-in-out, box-shadow .15s ease-in-out;
      }

      @media (prefers-color-scheme: dark) {
        .search-base {
          background-color: #111;
        }
      }

      .search-base:focus {
        outline: none;
        box-shadow: 0 0 0 .25rem rgba(255, 87, 38, .25);
        transition: box-shadow .15s ease-in-out, box-shadow .15s ease-in-out;
      }

      .search-bar {
        border-right: 1px solid #ff5726;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-left: 2px solid #ff5726;
        width: 75%;
        max-width: 928px;
      }

      .search-sort {
        border-left: 1px solid #ff5726;
        border-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-right: 2px solid #ff5726;
        width: 25%;
        display: flex;
      }

    </style>
  </head>

  <body>
    <div class="section header">
      <h1>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="85.90175" height="80.13511" viewBox="0,0,85.90175,80.13511"><g transform="translate(-277.04929,-139.96322)"><g stroke-linejoin="round" stroke-miterlimit="10"><g><path d="M359.20081,196.10994c0,0.70013 -0.07369,1.391 -0.22106,2.07269c-0.04606,0.30401 -0.15665,0.94881 -0.32242,1.94369c-0.35927,2.15553 -1.40941,4.14527 -2.99381,5.656c-2.38586,2.28453 -5.3244,3.78604 -8.59462,4.4217c-0.59876,0.32242 -1.38178,0.73698 -2.40429,1.29889c-0.85671,0.46059 -1.76868,0.79216 -2.7175,0.99488c-0.0921,0.02763 -0.5527,0.12899 -1.68573,0.46981c-1.38178,0.70013 -3.19652,1.51073 -5.60079,2.48718c-0.41453,0.17499 -0.8383,0.31323 -1.27124,0.42374c-1.18828,0.31316 -2.38586,0.46981 -3.55573,0.46981c-3.74,0 -7.13915,-1.54758 -9.58026,-4.36639c-0.46981,-0.54348 -0.87512,-1.13303 -1.2252,-1.75946c-0.44218,-0.19343 -0.86586,-0.40533 -1.28961,-0.6448c-0.57111,0.20269 -1.16072,0.39612 -1.75946,0.5527c-0.58955,0.14743 -1.18828,0.24868 -1.78704,0.29475c-0.60796,0.04606 -1.52921,0.13817 -2.75434,0.27638c-2.21086,0.31316 -4.5875,0.72769 -7.0931,1.24356c-1.71342,0.63565 -3.93343,1.34486 -6.74303,2.16475c-0.32242,0.0921 -0.65406,0.16584 -0.98566,0.23032c-1.81474,0.33157 -3.75842,0.31316 -5.78507,-0.08296c-6.07981,-1.07784 -8.41955,-5.04809 -9.26705,-7.29573c-0.39612,-1.05014 -0.76454,-2.5148 -0.76454,-4.31111c0,-0.9304 0.10137,-1.95289 0.35005,-3.04909c1.08698,-4.99276 5.29678,-7.28651 7.40626,-8.4196c0.91197,-0.50663 1.78711,-0.92119 2.64382,-1.27124c0.20269,-2.65297 0.48822,-7.92216 0.81986,-18.34994v-0.9396c-5.46264,-0.9396 -9.6171,-4.86381 -10.73172,-10.3633c-0.53429,-2.53321 -0.14736,-5.16782 1.11461,-7.51686c1.88841,-3.68467 5.43499,-6.14429 9.80138,-6.77073c0.26716,-0.03685 0.54355,-0.06448 0.81986,-0.08289c0.78302,-0.04606 1.61205,-0.11052 2.46877,-0.18428c0.95803,-0.08289 2.5148,-0.20265 4.67041,-0.36849c0.14743,-0.01841 0.30401,-0.01841 0.45138,-0.02763c0.02763,0 0.05526,-0.00915 0.08289,-0.00915c3.22415,-0.85671 6.66014,-0.54348 9.8566,0.91197c1.28968,0.58032 2.44118,1.43703 3.38078,2.49639c1.11466,1.24357 2.11868,2.88336 3.60183,5.84033c0.08289,0.17499 0.16585,0.35001 0.23954,0.52507c0.22113,0.50663 0.45137,1.05014 0.70928,1.63046c0.01841,-0.23027 0.03685,-0.479 0.05526,-0.73691c0.00922,-0.10132 0.01841,-0.21191 0.02763,-0.31323c0.67244,-6.20875 5.45342,-10.77778 12.18723,-11.64369c0.56192,-0.07369 1.13309,-0.10132 1.69501,-0.07369c1.20672,0.04606 3.10442,0.03685 5.55467,-0.00922h0.20269c0.84749,0 2.53328,-0.03685 5.74815,-0.21184c3.13198,-0.30401 6.23639,0.52507 8.84335,2.3306c3.45447,2.38586 5.42573,6.13507 5.42573,10.28039c0,4.4125 -2.35822,8.41956 -6.30087,10.71331c-1.69501,0.98566 -3.50047,1.63968 -5.37968,1.9621c0.16584,1.20672 0.36849,2.59776 0.60796,4.14534c0.75539,4.24664 1.3633,8.1064 1.80546,11.51474c4.80855,0.8383 9.5158,4.16375 10.17902,10.35408v0.00922c0.04606,0.35927 0.06455,0.72776 0.06455,1.08698z" fill="#ffffff" stroke="#ffffff" stroke-width="7.5"></path><path d="M349.06509,196.11001c0,-0.05346 -0.13541,0.72958 -0.40533,2.3499c-1.24357,1.18924 -2.8096,1.83685 -4.6999,1.94463c-0.8641,0.43297 -2.24212,1.16255 -4.13149,2.1878c-0.75722,0.16215 -1.91887,0.48542 -3.48393,0.97275c-1.02707,0.59511 -2.86392,1.43248 -5.50957,2.51205c-1.24357,0.32425 -2.21542,0.08101 -2.91738,-0.72958c-0.21647,-1.51167 0.62087,-2.8078 2.51204,-3.88926c1.56599,-0.75632 3.13205,-1.54023 4.6999,-2.34994c-0.53985,-9.2376 -1.72902,-18.15001 -3.56494,-26.73911c0,0.05432 -0.05432,0.13541 -0.16215,0.24316c-0.64763,5.56483 -1.67475,13.47874 -3.07953,23.74071c-0.10871,0.75722 -0.48546,1.89211 -1.13396,3.40284c-0.21554,0.16215 -0.5002,0.3381 -0.85114,0.52694c-0.35188,0.18973 -1.09438,0.41822 -2.22834,0.6881c-1.08057,0.21647 -1.86261,-0.32425 -2.34994,-1.62038c-0.64763,-2.05334 -1.91787,-5.15863 -3.80818,-9.31774c-1.18828,-2.37663 -3.02609,-5.7795 -5.50957,-10.20948c-0.8106,-1.35045 -1.72902,-3.16054 -2.75434,-5.42942c-1.45917,-3.24163 -2.3232,-5.131 -2.59313,-5.67172c-0.10871,0.8641 -0.21554,2.78291 -0.32425,5.75273c-0.05432,0.64763 -0.05432,1.53929 0,2.67326c0,1.51349 0,2.48535 0,2.91738c0,0.37864 -0.05432,0.94512 -0.16215,1.70144c-0.16215,0.91932 -0.24316,1.54023 -0.24316,1.86354c-0.05526,0.91932 -0.16215,3.35035 -0.32425,7.29203c-0.05526,2.48535 -0.05526,3.99884 0,4.53776c0,0.54072 0.29568,0.86499 0.8908,0.97275c0.16215,0 0.4864,-0.05346 0.97275,-0.16215c0.4864,-0.10778 0.83641,-0.18879 1.05383,-0.24316c0.91749,-0.05346 1.94456,-0.22938 3.07948,-0.52694c1.13396,-0.29573 1.89024,-0.44492 2.26888,-0.44492c0.8106,0 1.53929,0.32425 2.1878,0.97275c0.21467,0.91932 0.21467,1.81016 0,2.67326c-0.8106,0.75722 -1.83685,1.29606 -3.07953,1.62125c-0.70289,0.05432 -1.78342,0.1621 -3.24163,0.32425c-2.70184,0.37864 -5.5907,0.89173 -8.67018,1.54023c-1.51253,0.59511 -3.75472,1.32463 -6.72462,2.18686c-0.59511,0.10965 -1.297,0.08202 -2.10673,-0.08102c-0.97275,-0.16215 -1.51349,-0.45783 -1.62125,-0.8908c-0.16215,-0.43203 -0.16215,-0.97282 0,-1.62125c0.05346,-0.32425 0.83734,-0.89173 2.34994,-1.70233c0.97275,-0.53891 1.823,-0.90278 2.55258,-1.09438c0.72865,-0.1879 1.44349,-0.36479 2.14638,-0.526c0.53985,-0.05346 1.37809,-0.18884 2.51298,-0.4044c0.21467,-0.10778 0.37675,-0.32519 0.48546,-0.6485c0,-1.34952 0.0267,-3.10528 0.08102,-5.26728c0.32425,-3.29412 0.64857,-10.10076 0.97281,-20.41889v-4.37472c0.05346,-2.32231 -0.05439,-4.7266 -0.32425,-7.21195c-0.21647,-0.32425 -0.45966,-0.45783 -0.72958,-0.4044c-1.51349,0.32425 -3.62027,0.64756 -6.31935,0.97275c-2.05334,0.05432 -3.24163,-0.78302 -3.56587,-2.51298c-0.05432,-0.21467 0,-0.45779 0.16304,-0.72865c0.37675,-0.8106 1.13396,-1.29606 2.26888,-1.45917c0.8631,-0.05346 1.76868,-0.12156 2.7138,-0.20269c0.94419,-0.08108 2.4715,-0.20265 4.57823,-0.36479c0.43203,0 1.10633,-0.08109 2.02565,-0.24316c1.07959,-0.37771 2.21362,-0.29662 3.40284,0.24316c0.43203,0.48546 1.13403,1.70144 2.10673,3.64603c1.51167,3.51155 3.86063,8.75124 7.04887,15.71903c0.8641,1.56693 2.05239,3.80818 3.56494,6.72555c0.97275,1.94463 2.48355,4.86107 4.53776,8.7512c0.75539,-4.21351 2.26881,-13.53123 4.53769,-27.95508c0.05346,-0.16215 0.21554,-2.02569 0.4864,-5.59063c0.16215,-1.51167 1.29613,-2.4024 3.40284,-2.67326c1.34952,0.05432 3.40284,0.05432 6.15807,0c1.45821,0 3.64603,-0.08108 6.56338,-0.24316c0.8106,-0.10778 1.56599,0.08102 2.26888,0.56648c0.70195,0.48546 1.05384,1.13403 1.05384,1.94463c0,0.80971 -0.41912,1.45821 -1.25559,1.94369c-0.8383,0.4864 -1.71524,0.75722 -2.63274,0.81065c-0.70383,-0.32425 -1.54023,-0.48546 -2.51298,-0.48546c-2.10673,0 -4.16005,0.27082 -6.15807,0.80971c-0.27086,0.05526 -0.37864,0.67613 -0.32425,1.86354c0,0.97275 0.10689,2.40429 0.32425,4.29452c0.10682,0.21647 0.26986,0.59507 0.48546,1.13396c0.21554,1.83685 0.59418,4.53776 1.13396,8.1027c0.91842,5.1328 1.59275,9.58954 2.02569,13.37008c0.6485,5.56394 0.97275,8.42599 0.97275,8.58903c0.32425,0.10871 0.94418,-0.10778 1.86354,-0.6485c1.34952,-0.70195 2.13258,-1.10633 2.34994,-1.21505c0.53891,-0.21467 1.24174,-0.32425 2.10673,-0.32425c1.62038,0.00276 2.48348,0.51585 2.59219,1.54116z" fill="#ffffff" stroke="#ffffff" stroke-width="3.5"></path><path d="M359.20081,196.10994c0,0.70006 -0.07369,1.391 -0.22113,2.07265c-0.04606,0.30401 -0.15658,0.94881 -0.32242,1.94369c-0.35927,2.15558 -1.40941,4.14534 -2.99381,5.65604c-2.38586,2.28453 -5.3244,3.78604 -8.59462,4.42165c-0.59876,0.32242 -1.38178,0.73691 -2.40429,1.29889c-0.85671,0.46059 -1.76868,0.79223 -2.7175,0.99488c-0.0921,0.02763 -0.5527,0.12895 -1.68579,0.46981c-1.38178,0.70006 -3.19652,1.51073 -5.60079,2.48717c-0.41453,0.17499 -0.8383,0.31323 -1.27124,0.42374c-1.18835,0.31323 -2.38586,0.46981 -3.55573,0.46981c-3.74,0 -7.13915,-1.54758 -9.58026,-4.36639c-0.46981,-0.54348 -0.87513,-1.13303 -1.2252,-1.75946c-0.44218,-0.19343 -0.86592,-0.40533 -1.28968,-0.6448c-0.57111,0.20265 -1.16066,0.39612 -1.75946,0.5527c-0.58955,0.14736 -1.18835,0.24875 -1.78711,0.29479c-0.60796,0.04606 -1.52915,0.13817 -2.75434,0.27638c-2.21086,0.31323 -4.5875,0.72776 -7.0931,1.24361c-1.71342,0.63558 -3.93343,1.34493 -6.74303,2.1648c-0.32242,0.0921 -0.65406,0.1658 -0.98566,0.23032c-1.81474,0.33164 -3.75842,0.31323 -5.785,-0.08289c-6.07981,-1.07777 -8.4196,-5.04809 -9.2671,-7.29573c-0.39612,-1.05014 -0.76461,-2.5148 -0.76461,-4.31111c0,-0.9304 0.10132,-1.95289 0.35005,-3.04909c1.08698,-4.99276 5.29678,-7.28651 7.40631,-8.4196c0.91197,-0.50663 1.78711,-0.92119 2.64382,-1.27124c0.20265,-2.65302 0.48822,-7.92216 0.81986,-18.34994v-0.9396c-5.46257,-0.9396 -9.6171,-4.86381 -10.73179,-10.3633c-0.53429,-2.53321 -0.14737,-5.16782 1.11461,-7.51685c1.88841,-3.68474 5.43499,-6.14429 9.80138,-6.77066c0.26716,-0.03685 0.54348,-0.06448 0.81986,-0.08289c0.78302,-0.04606 1.61205,-0.11052 2.46877,-0.18421c0.95803,-0.08289 2.5148,-0.20265 4.67041,-0.36849c0.14736,-0.01841 0.30401,-0.01841 0.45138,-0.02763c0.02763,0 0.05526,-0.00922 0.08289,-0.00922c3.22415,-0.85671 6.66014,-0.54348 9.85664,0.91197c1.28968,0.58032 2.44111,1.43703 3.38073,2.49639c1.11461,1.24361 2.11876,2.88329 3.60184,5.84028c0.08289,0.17499 0.1658,0.35005 0.23954,0.52507c0.22113,0.50663 0.45138,1.05014 0.70928,1.63046c0.01841,-0.23027 0.03685,-0.479 0.05526,-0.73697c0.00922,-0.10132 0.01841,-0.21184 0.02763,-0.31323c0.67244,-6.20875 5.45343,-10.77783 12.18723,-11.64369c0.56192,-0.07369 1.13303,-0.10132 1.69501,-0.07369c1.20676,0.04606 3.10442,0.03685 5.55474,-0.00922h0.20265c0.84749,0 2.53322,-0.03685 5.74815,-0.21184c3.13205,-0.30401 6.23639,0.52507 8.84335,2.33059c3.4544,2.38586 5.42573,6.13507 5.42573,10.28039c0,4.41244 -2.35822,8.4196 -6.30087,10.71335c-1.69501,0.98566 -3.50047,1.63968 -5.37968,1.96211c0.1658,1.20676 0.36849,2.59776 0.60796,4.14534c0.75539,4.24664 1.36334,8.10639 1.80552,11.51473c4.80855,0.8383 9.5158,4.16375 10.17902,10.35408v0.00922c0.04606,0.35927 0.06448,0.72776 0.06448,1.08698z" fill="#ff29b1" stroke="none" stroke-width="1"></path><path d="M349.06509,196.10994c0,-0.05346 -0.13541,0.72958 -0.40533,2.34994c-1.24361,1.18924 -2.8096,1.83685 -4.69984,1.94463c-0.86403,0.43297 -2.24212,1.16255 -4.13149,2.1878c-0.75722,0.16215 -1.9188,0.48546 -3.48393,0.97275c-1.02714,0.59507 -2.86392,1.43247 -5.50957,2.51204c-1.24361,0.32425 -2.21542,0.08109 -2.91738,-0.72958c-0.21647,-1.51167 0.62087,-2.80773 2.51205,-3.88926c1.56599,-0.75627 3.13205,-1.54023 4.69984,-2.34994c-0.53979,-9.2376 -1.72907,-18.15001 -3.56499,-26.73911c0,0.05432 -0.05432,0.13541 -0.16215,0.24316c-0.64756,5.56483 -1.6747,13.47873 -3.07953,23.74064c-0.10871,0.75722 -0.48546,1.89211 -1.13396,3.40284c-0.21554,0.16215 -0.5002,0.3381 -0.85119,0.52689c-0.35188,0.18978 -1.09438,0.41822 -2.22834,0.6881c-1.08053,0.21647 -1.86261,-0.32425 -2.34994,-1.62038c-0.64756,-2.05334 -1.91787,-5.15863 -3.80817,-9.31774c-1.18835,-2.37663 -3.02609,-5.7795 -5.50957,-10.20948c-0.81065,-1.35045 -1.72907,-3.16054 -2.75434,-5.42942c-1.45917,-3.24163 -2.3232,-5.131 -2.59313,-5.67172c-0.10871,0.86403 -0.21554,2.78291 -0.32425,5.7528c-0.05432,0.64756 -0.05432,1.53929 0,2.67325c0,1.51349 0,2.48535 0,2.91738c0,0.37857 -0.05432,0.94512 -0.16215,1.7014c-0.16215,0.91932 -0.24316,1.54023 -0.24316,1.86354c-0.05526,0.91932 -0.16215,3.35035 -0.32425,7.2921c-0.05526,2.48535 -0.05526,3.99884 0,4.53776c0,0.54072 0.29568,0.86499 0.8908,0.97275c0.16215,0 0.4864,-0.05346 0.97275,-0.16215c0.4864,-0.10778 0.83641,-0.18884 1.05383,-0.24316c0.91749,-0.05346 1.94463,-0.22938 3.07953,-0.52694c1.13396,-0.29568 1.89024,-0.44492 2.26888,-0.44492c0.81065,0 1.53929,0.32425 2.1878,0.97275c0.21467,0.91932 0.21467,1.81011 0,2.67326c-0.81065,0.75722 -1.83685,1.29613 -3.07953,1.62125c-0.70289,0.05432 -1.78342,0.16215 -3.24163,0.32425c-2.70184,0.37857 -5.59063,0.89169 -8.67018,1.54023c-1.5126,0.59507 -3.75472,1.3247 -6.72461,2.18693c-0.59507,0.10965 -1.297,0.08195 -2.10673,-0.08109c-0.97275,-0.16215 -1.51349,-0.45783 -1.62125,-0.8908c-0.16215,-0.43203 -0.16215,-0.97275 0,-1.62125c0.05346,-0.32425 0.83734,-0.89173 2.34994,-1.70233c0.97275,-0.53891 1.823,-0.90278 2.55258,-1.09438c0.72865,-0.1879 1.44349,-0.3648 2.14638,-0.526c0.53979,-0.05346 1.37809,-0.18884 2.51298,-0.4044c0.21467,-0.10778 0.37675,-0.32519 0.48546,-0.6485c0,-1.34952 0.02669,-3.10528 0.08108,-5.26732c0.32425,-3.29412 0.6485,-10.10076 0.97275,-20.41889v-4.37465c0.05346,-2.32231 -0.05432,-4.7266 -0.32425,-7.21195c-0.21647,-0.32425 -0.45966,-0.45783 -0.72958,-0.4044c-1.51349,0.32425 -3.62027,0.64756 -6.31928,0.97275c-2.05334,0.05432 -3.24163,-0.78302 -3.56588,-2.51298c-0.05432,-0.21467 0,-0.45783 0.16304,-0.72865c0.37675,-0.81065 1.13396,-1.29613 2.26888,-1.45917c0.86317,-0.05346 1.76868,-0.1216 2.7138,-0.20265c0.94419,-0.08108 2.4715,-0.20265 4.57828,-0.3648c0.43203,0 1.10633,-0.08108 2.02569,-0.24316c1.07964,-0.37771 2.21362,-0.29662 3.40284,0.24316c0.43203,0.48546 1.13396,1.7014 2.10673,3.64603c1.51167,3.51155 3.86067,8.7512 7.04887,15.71903c0.86403,1.56693 2.05239,3.80817 3.56499,6.72555c0.97275,1.94463 2.48348,4.86107 4.53776,8.7512c0.75539,-4.21351 2.26888,-13.53123 4.53776,-27.95509c0.05346,-0.16215 0.21554,-2.02569 0.4864,-5.59063c0.16215,-1.51167 1.29613,-2.40246 3.40284,-2.67326c1.34952,0.05432 3.40284,0.05432 6.15807,0c1.45821,0 3.64603,-0.08108 6.56338,-0.24316c0.81065,-0.10778 1.56599,0.08108 2.26888,0.56655c0.70195,0.48546 1.05384,1.13396 1.05384,1.94463c0,0.80971 -0.41912,1.45821 -1.25559,1.94369c-0.8383,0.4864 -1.71524,0.75722 -2.63274,0.81065c-0.70376,-0.32425 -1.54023,-0.48546 -2.51298,-0.48546c-2.10673,0 -4.16005,0.27082 -6.15807,0.80971c-0.27082,0.05526 -0.37857,0.67613 -0.32425,1.86354c0,0.97275 0.10682,2.40429 0.32425,4.29452c0.10682,0.21647 0.26993,0.59507 0.48546,1.13396c0.21554,1.83685 0.59418,4.53776 1.13396,8.1027c0.91842,5.1328 1.59275,9.58947 2.02569,13.37002c0.6485,5.56394 0.97275,8.42606 0.97275,8.5891c0.32425,0.10871 0.94423,-0.10778 1.86354,-0.6485c1.34952,-0.70195 2.13254,-1.10633 2.34994,-1.21505c0.53891,-0.21467 1.24174,-0.32425 2.10673,-0.32425c1.62038,0.00276 2.48355,0.51586 2.59219,1.54112z" fill="#ffffff" stroke="none" stroke-width="1"></path></g></g></g></svg><!--rotationCenter:42.9507088662225:40.036777103374106-->
        <div>MagicMod Extension Gallery</div>
      </h1>

      <p>This is the official extension gallery, where you can get extensions that aren't limited by the extension sandbox. All of the extensions here are reviewed for safety.</p>
      <p>You can also find these extensions in MagicMod's "Add Extension" menu.</p>

      <div class="infobox infobox-warning">
        <div class="infobox-title">These extensions are not compatible with Scratch.</div>
        Projects that use these extensions can't be opened in Scratch or uploaded to the Scratch website.
        They can still be used in <a href="https://packager.turbowarp.org/">the TurboWarp packager</a>.
      </div>

      <div class="infobox">
        <div class="infobox-title">Some extensions may not work in TurboWarp Desktop.</div>
        To make sure extensions work offline, each release of <a href="https://desktop.turbowarp.org/">TurboWarp Desktop</a> comes with a copy of these extensions as of its release date, so some extensions may be outdated or missing.
        Update to the latest version for the best results.
      </div>
    </div>

    <% if (mode === "development") { %>
      <div class="section">
        <div class="development-tools">
          <h2>Development Server Tools</h2>
          <p>
            Most recently modified extensions:
            <% for (const extensionSlug of mostRecentExtensions) { %>
              <a href="<%= getRunExtensionURL(extensionSlug) %>"><%= extensionSlug %>.js</a>
            <% } %>
          </p>
        </div>
      </div>
    <% } %>

    <script>
      document.addEventListener('click', function (e) {
        var toCopy = e.target.getAttribute('data-copy');
        if (toCopy) {
          if (navigator.clipboard && navigator.clipboard.writeText) {
            navigator.clipboard.writeText(toCopy);
          } else {
            var input = document.createElement('input');
            input.value = toCopy;
            input.style.top = '0';
            input.style.left = '0';
            input.style.position = 'fixed';
            document.body.appendChild(input);
            input.focus();
            input.select();
            try {
              document.execCommand('copy');
            } catch (e) {
              console.error(e);
            }
            document.body.removeChild(input);
            e.target.focus();
          }
        }

        if (e.target.className.includes('sample-list-button')) {
          var extension = e.target.closest('.extension');
          extension.dataset.samplesOpen = extension.dataset.samplesOpen !== 'true';
        }
      });

      window.addEventListener("load", () => {
        const extensionElements = document.querySelectorAll(".extension");
        const container = document.querySelector(".extensions");
        const sort = document.getElementById("search-sort");

        document.getElementById("search-bar").addEventListener("input", function (evt) {
          const searchQuery = evt.srcElement.value.toLowerCase();

          extensionElements.forEach(extension => {
            const h2 = extension.querySelector("h2").textContent.toLowerCase();
            const p = extension.querySelector("p").textContent.toLowerCase();
            if (h2.includes(searchQuery) || p.includes(searchQuery)) {
              extension.style.removeProperty("display");
            } else {
              extension.style.display = "none";
            }
          });

          switch (sort.value) {
            case "original":
              originalOrder.forEach(div => container.appendChild(div));
              break;
            case "abc":
              divs.sort((a, b) => a.textContent.localeCompare(b.textContent));
              divs.forEach(div => container.appendChild(div));
              break;
            case "zxy":
              divs.sort((a, b) => b.textContent.localeCompare(a.textContent));
              divs.forEach(div => container.appendChild(div));
              break;
          }
        });

        const divs = Array.from(extensionElements);
        const originalOrder = [...divs];

        sort.addEventListener("change", function (evt) {
          switch (evt.srcElement.value) {
            case "original":
              originalOrder.forEach(div => container.appendChild(div));
              break;
            case "abc":
              divs.sort((a, b) => a.innerText.localeCompare(b.innerText));
              divs.forEach(div => container.appendChild(div));
              break;
            case "zxy":
              divs.sort((a, b) => b.innerText.localeCompare(a.innerText));
              divs.forEach(div => container.appendChild(div));
              break;
          }
        });
      });

    </script>

    <div class="section extensions-outer">
      <div class="search-container">
        <input type="text" id="search-bar" class="search-base search-bar" placeholder="Search for extensions...">
        <select class="search-base search-sort" id="search-sort">
          <option value="original">Sort: Default</option>
          <!--<option value="option2">Sort: Relevance</option>-->
          <option value="abc">Sort: ABC</option>
          <option value="zxy">Sort: ZXY</option>
          <!--<option value="newest">Sort: Newest</option>
          <option value="oldest">Sort: Oldest</option>-->
        </select>
      </div>
      <div class="extensions">
        <%
        const peopleToHTML = (people) => {
          let result = '';
          for (let i = 0; i < people.length; i++) {
            result += people[i].toHTML();
            if (i === people.length - 1) {
              // do nothing
            } else if (i === people.length - 2) {
              if (people.length > 2) {
                result += ',';
              }
              result += ' and ';
            } else {
              result += ', ';
            }
          }
          return result;
        };
        %>
        <% for (const [extensionSlug, metadata] of Object.entries(extensionMetadata)) { %>
          <div class="extension">
            <div class="extension-banner">
              <% const image = extensionImages[extensionSlug] || 'images/unknown.svg'; %>
              <img loading="lazy" src="<%= image %>" class="extension-image">

              <div class="extension-buttons">
                <button class="copy" data-copy="<%= getFullExtensionURL(extensionSlug) %>">Copy URL</button>
                <a class="open" href="<%= getRunExtensionURL(extensionSlug) %>">Open Extension</a>

                <% if (metadata.hasDocumentation) { %>
                  <a class="docs" href="<%= getDocumentationURL(extensionSlug) %>">Documentation</a>
                <% } %>

                <% if (metadata.samples.length === 1) { %>
                  <a class="sample" href="<%= getRunSampleURL(metadata.samples[0]) %>">Sample Project</a>
                <% } else if (metadata.samples.length > 1) { %>
                  <button class="sample sample-list-button">Sample Projects</button>
                <% } %>
              </div>
            </div>

            <% if (metadata.samples.length > 1) { %>
              <div class="sample-list">
                <h3><%= metadata.name %> Sample Projects:</h3>
                <% for (const sample of metadata.samples) { %>
                  <a class="sample-list-item" href="<%= getRunSampleURL(sample)%>"><%= sample.getTitle() %></a>
                <% } %>
              </div>
            <% } %>

            <h2><%= metadata.name %></h2>
            <p>
              <%= metadata.description %>
              <%-
                (metadata.original.length && metadata.by.length) ? (
                  `Created by ${peopleToHTML(metadata.original)}. Updated by ${peopleToHTML(metadata.by)}.`
                ) : metadata.by.length ? (
                  `Created by ${peopleToHTML(metadata.by)}.`
                ) : metadata.original.length ? (
                  `Created by ${peopleToHTML(metadata.original)}.`
                ) : ''
              %>
            </p>
          </div>
        <% } %>
      </div>
    </div>

    <footer class="section">
      <p>MagicMod is not affiliated with Scratch, the Scratch Team, or the Scratch Foundation.</p>
      <div class="links">
        <a href="https://github.com/Magic-Mod/extensions/tree/master/images#readme">Image Attribution</a>
        -
        <a href="https://github.com/Magic-Mod/extensions">GitHub</a>
        -
        <a href="https://docs.turbowarp.org/development/extensions/introduction">Developer Documentation</a>
      </div>
    </footer>
  </body>
</html>
